.container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.fundo {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    overflow: hidden;
}

.fundoImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.content {

    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    padding: 15px;
  
}


.logoContainer {

    width: 280px;
    transform: rotate(-10deg) scale(1);
}

.logo {

    width: 100%;
    display: block;
}

.descricao{

    width: 200px;
    margin-top: 50px;
   
}

.titulo{

    font-size: 1.3rem;
    color: rgb(247, 181, 15);
    font-weight: 500;
   
}

.port{

    color: white;
    padding-bottom: 10px;
}

.slogam{

    margin-top: 20px;
    color: rgb(247, 181, 15);
    font-weight: 600;
    font-size: 1.5rem ;
    text-transform: uppercase;
   
}

.botaoVivo{

    width: 150px;
}

.btVivo{

    display: flex;
    font-size: 0.8rem;
    text-decoration: none;
    width: 140px;
    padding: 6px;
    background-color: goldenrod;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(5, 5, 5);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.arrowContent{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.arrow{

    width: 100%;
}

.booking{

    margin-top: 100px;
    width: 100%;
    border-radius: 12px;
    padding: 5px;
    border: 1px solid rgba(218, 165, 32, 0.38);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
    justify-items: start;
    background-color: rgba(0, 0, 0, 0.67);
}

.iconeTel{

    margin-left: 10px;
}

.iconeContent{

    width: 35px;
    margin: 3px;
}

.icone{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardBooking{

    width: 250px;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
}

.titContent{
    
    padding: 5px;
  
}

.bokt{

    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.btContet{

    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.btLigar{

    display: flex;
    font-size: 0.8rem;
    text-decoration: none;
    width: 80px;
    padding: 6px;
    background-color: goldenrod;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(5, 5, 5);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btEnviar{

    display: flex;
    font-size: 0.8rem;
    text-decoration: none;
    width: 140px;
    padding: 6px;
    background-color: goldenrod;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(5, 5, 5);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.emailContent{

    width: 20px;
}

.email{

    width: 100%;
}

.telContent{

    width: 17px;
    margin: 3px;
}

.tel{

    width: 100%;
}


.cards{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 12px;
    gap: 5px;
}

.card1{

    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
    border: 1px solid rgba(241, 149, 29, 0.22);
    width: 105px;
    border-radius: 12px;
    gap: 10px;
    height: auto;
    background: 
    linear-gradient(#1a1a1a, #142127) padding-box,
    linear-gradient(148deg, #f5a52353, #d4af371b) border-box;
}

.redesLogo{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-top: 20px;
  
}

.rdLogo{

    width: 100%;
}

.faceTit{

    margin-top: 12px;
    font-size: 0.8rem;
    color: white;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.notas{

    color: rgba(255, 255, 255, 0.752);
    font-size: 0.6rem;
    text-align: center;
    font-weight: 200;
}

.btVisitar{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 80px;
    border: 1px solid rgba(4, 106, 174, 0.484);
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    gap: 5px;
    padding: 5px;
}

.arrow{

    width: 15px;
}

.acont{

    width: 100%;
}

.card2{

    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
    border: 1px solid rgba(151, 4, 174, 0.484);
    width: 105px;
    border-radius: 12px;
    gap: 10px;
    height: auto;   
}

.btSeguir{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 80px;
    border: 1px solid rgba(151, 4, 174, 0.484);
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    gap: 5px;
    padding: 5px;
}

.card3{

   display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
    border: 1px solid rgba(4, 174, 83, 0.484);
    width: 105px;
    border-radius: 12px;
    gap: 10px;
    height: auto;
    
}

.btOuvir{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 80px;
    border: 1px solid rgba(4, 174, 83, 0.484);
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    gap: 5px;
    padding: 5px;
}
